/*------------------------------------*/
/* #COLOR */
/*------------------------------------*/

/* Double Stroke */
/* TODO: double stroke */
/* https://jsfiddle.net/0wn2ok4g/2/ */
/* https://codepen.io/ingthorsson/pen/QVRVZP */

.stroke-double {
  position: relative;
  background: transparent;
  z-index: 0;
  color: var(--lake-100);
  text-align: center;
}

.stroke-double:before {
  content: attr(title);
  position: absolute;
  -webkit-text-stroke: 0.25em var(--brilliance);

  left: 0;
  z-index: -1;
}
/* add a double stroke */
/* .stroke-double:after {
  content: attr(title);
  position: absolute;
  -webkit-text-stroke: 0.25em var(--black-out);
  left: 0;
  top: 0;
  z-index: -2;
} */

header,
footer {
  background: var(--lake-500);
  box-shadow: 0 0 0 100vmax var(--lake-500);
  clip-path: inset(0 -100vmax);
}

/* .scoredeck {
} */
.scorecard {
  background-color: var(--brilliance);
  text-align: center;

  .scoreteam {
    border: 2px solid var(--brilliance);
    box-shadow: var(--penumbra);
    color: var(--brilliance);
  }

  .win {
    color: var(--win-100);
    background-color: var(--win-500);
    border-color: var(--win-100);

    a {
      color: var(--win-100);
    }
  }
  .loss {
    color: var(--loose-100);
    background-color: var(--loose-500);
    border-color: var(--loose-100);

    a {
      color: var(--loose-100);
    }
  }
}

.vs {
  color: var(--black-metal);
  z-index: 0;
  position: relative;
  background: transparent;
}

.vs:before {
  z-index: -1;
  position: absolute;
  left: 0;
  -webkit-text-stroke: 0.1rem var(--brilliance);
}

.team-name a {
  text-decoration: none;
  z-index: 0;
  position: relative;
  background: transparent;
}

.team-name a:before {
  z-index: -1;
  position: absolute;
  left: 0;
  -webkit-text-stroke: 0.1rem var(--brilliance);
}

/*------------------------------------*/
/* #FOOTER */
/*------------------------------------*/

.footer-contact {
  background-color: var(--brilliance);
  padding: var(--kosciuszko);
  border: 1px solid var(--brilliance);
}
