/*------------------------------------*/
/* #FORM */
/*------------------------------------*/

form {
  label {
    display: block;
    margin-block-end: var(--elbrus);
  }

  input {
    display: block;
    width: calc(100% - var(--kosciuszko) * 2);
    margin-block-start: 0.25rem;
    border: 1px solid var(--lake-100);
    padding: var(--kosciuszko);
    font-size: var(--vinson);
    color: var(--lake-100);
  }
}

.state-zip {
  display: flex;
  flex-flow: row wrap;
  gap: var(--elbrus);

  > .state {
    flex: 1.618;
  }

  > label {
    flex: 1;
  }
}

.shirt-sizes {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(calc(var(--vulture) - 1rem), 1fr)
  );
  gap: var(--elbrus);

  > label {
    flex: 1 1 var(--vulture);
  }
}
