/*------------------*/
/* #LAYOUT */
/*------------------*/

.vulture {
  max-width: var(--vulture);
  flex-basis: var(--vulture);
  margin-inline: auto;
  padding-inline: var(--kosciuszko);
  width: calc(100% - 2 * var(--kosciuszko));
}

.stork {
  max-width: var(--stork);
  flex-basis: var(--stork);
  margin-inline: auto;
  padding-inline: var(--kosciuszko);
  width: calc(100% - 2 * var(--kosciuszko));
}

.condor,
header,
footer {
  max-width: var(--condor);
  flex-basis: var(--condor);
  margin-inline: auto;
  padding-inline: var(--kosciuszko);
  width: calc(100% - 2 * var(--kosciuszko));
}

.pelican,
main,
section {
  max-width: var(--pelican);
  flex-basis: var(--pelican);
  margin-inline: auto;
  padding-inline: var(--kosciuszko);
  width: calc(100% - 2 * var(--kosciuszko));
}

.albatross {
  max-width: var(--albatross);
  flex-basis: var(--albatross);
  margin-inline: auto;
  padding-inline: var(--kosciuszko);
  width: calc(100% - 2 * var(--kosciuszko));
}

/*------------------------------------*/

/* * I'm NOT 100% sure of the syntax or metaphor below here */
.wrap {
  display: flex;
  flex-flow: row wrap;
  gap: clamp(var(--kosciuszko), 1.667vw, var(--denali));

  > * {
    flex: 1 1;
    width: 100%;
  }
}

.pelican.wrap > * {
  flex: 1 1
    calc(var(--pelican) / 2 - clamp(var(--kosciuszko), 1.667vw, var(--denali)));
  max-width: none;
  margin-inline: 0;
  padding-inline: 0;
}

.albatross.wrap > * {
  flex: 1 1 calc(var(--albatross) / 2 - 1rem);
  max-width: none;
  margin-inline: 0;
  padding-inline: 0;
}

header {
  padding-block: var(--kosciuszko);
  margin-block-end: var(--aconcagua);
}

footer {
  padding-block: var(--aconcagua);
}

/*------------------------------------*/
/* #SCORECARD */
/*------------------------------------*/

.scoredeck {
  width: 100%;
}

.scorecard {
  display: grid;
  grid-template-columns: 1fr 2rem 1fr;
  gap: clamp(var(--kosciuszko), 1.667vw, var(--elbrus));
  margin-block-end: var(--vinson);
  padding: var(--vinson);

  h3 {
    margin: 0;
  }
}

.round {
  grid-row: 1;
  grid-column: 1 / 4;
  align-self: center;
  justify-self: center;
}

.scoreteam {
  /* TODO: needs sub-grid or equivilent */
  grid-row: 1;

  display: flex;
  flex-flow: column wrap;
  gap: clamp(var(--kosciuszko), 1.667vw, var(--denali));
  padding-block: var(--kosciuszko);

  a {
    margin-block-end: 0;
  }
}

.vs {
  grid-row: 1;
  grid-column: 2;
  align-self: center;
  justify-self: center;
}

.details {
  grid-row: 2;
  grid-column: 1/4;
}

.scorecard:has(.round) {
  .scoreteam {
    grid-row: 2;
  }

  .vs {
    grid-row: 2;
  }

  .details {
    grid-row: 3;
  }
}
