/*------------------------------------*/
/* #LISTS */
/*------------------------------------*/

li {
  line-height: 1.5;
}

ol {
  li:not(:last-child) {
    margin-block-end: var(--kosciuszko);
    padding-block-end: var(--kosciuszko);
    border-block-end: 1px solid var(--industrial-revolution);
  }
}

/*------------------------------------*/
/* #TOURNAMENTS */
/*------------------------------------*/

.tournaments {
  list-style: none;
  padding: 0;

  li {
    display: flex;
    padding: var(--kosciuszko);
    background-color: var(--lake-500);
    margin-block-end: var(--elbrus);
    border-radius: var(--s-radius);
  }

  li.cancelled {
    color: var(--loose-100);
    background-color: var(--loose-500);
  }
}
