/*------------------------------------*/
/* #MEDIA */
/*------------------------------------*/

figure {
  margin: 0; /* browser default */
  text-align: center;
}

img {
  width: 100%;
  height: auto;

  border: 1px solid white;
  border-radius: 0.25em;
  box-shadow: 0 3px 6px hsla(0, 0%, 0%, 0.12), 0 2px 4px hsla(0, 0%, 0%, 0.1);
}
