/*------------------------------------*/
/* #TYPOGRAPHY */
/*------------------------------------*/

body {
  font-size: 16px;
  font-family: var(--font-sans);
  line-height: 1.25;
}

/*------------------------------------*/

.everest {
  font-size: var(--everest);
}

.aconcagua {
  font-size: var(--aconcagua);
}

.denali {
  font-size: var(--denali);
}

.kilimanjaro {
  font-size: var(--kilimanjaro);
}

.elbrus {
  font-size: var(--elbrus);
}

.vinson {
  font-size: var(--vinson);
}

.kosciuszko {
  font-size: var(--kosciuszko);
}

/*------------------------------------*/

.font-slab {
  font-family: var(--font-slab);
  text-transform: uppercase;
  text-align: center;
}
