:root {
  /*------------------------------------*/
  /* #NEUTRALS */
  /*------------------------------------*/

  --black-metal: hsl(0 0% 2.5%);
  --black-out: hsl(0 0% 12.5%);
  --raven-black: hsl(0 0% 25%);
  --industrial-revolution: hsl(0 0% 37.5%);
  /* grey */
  --cold-grey: hsl(0 0% 62.5%);
  --tin-soldier: hsl(0 0% 75%);
  --kingly-cloud: hsl(0 0% 87.5%);
  --brilliance: hsl(0 0% 97.5%);

  /*------------------------------------*/
  /* #COLOR */
  /*------------------------------------*/

  --lake-100: oklch(55% 0.175 250);
  --lake-400: oklch(90% 0.05 250);
  --lake-500: oklch(95% 0.02 250);

  --win-100: oklch(60% 0.11 160);
  --win-500: oklch(95% 0.04 160);

  --loose-100: oklch(65% 0.225 28);
  /* TODO: I really dont like this color */
  --loose-500: oklch(95% 0.225 28);

  --loose-100: oklch(75% 0.18 55);
  --loose-500: oklch(95% 0.03 55);
  /*------------------------------------*/
  /* #TYPOGRAPHY */
  /*------------------------------------*/
  --font-sans: sans-serif;
  --font-slab: "Roboto Slab Variable", serif;

  /* 🏔 Mountain Names as Font Sizing Defaults */
  /* (Highest by Continent) */
  --everest: 3.25rem; /* 29,035ft Asia */
  --aconcagua: 2.5rem; /* 22,840ft South America */
  --denali: 2rem; /* 20,320ft North America */
  --kilimanjaro: 1.5rem; /* 19,340ft Africa */
  --elbrus: 1.25rem; /* 18,510ft Europe / Russia */
  --vinson: 1rem; /* 16,050ft Antartica */
  --kosciuszko: 0.75rem; /* 7,310ft Australia */

  /*------------------*/
  /*  #WIDTHS */
  /* https://en.wikipedia.org/wiki/Largest_living_flying_birds_by_wingspan */
  /* golden ratio 1.618 */
  /*------------------*/

  --vulture: 10rem;
  --stork: 18rem;
  --condor: 30rem;
  --pelican: 50rem;
  --albatross: 80rem;

  /*------------------*/
  /*  #SHADOWS */
  /*------------------*/

  /* Umbra is direct light - dark - for active down clicks */
  /* Antumbra is eclipsed - medium - for hover */
  /* Penumbra is obscured - light - for layering but waiting */

  --penumbra: 0 3px 6px hsla(0, 0%, 0%, 0.12), 0 2px 4px hsla(0, 0%, 0%, 0.1);
  --antumbra: 0 14px 24px hsla(0, 0%, 0%, 0.16),
    0 4px 12px hsla(0, 0%, 0%, 0.12);
  --umbra: 0 5px 12px hsla(0, 0%, 0%, 0.4) /* Ambient light shadow */,
    0 18px 32px hsla(0, 0%, 0%, 0.16) /* Direct light shadow */;

  /* shadows on dark backgrounds */
  --penumbra--dark: 0 3px 6px hsla(0, 0%, 100%, 0.12),
    0 2px 4px hsla(0, 0%, 100%, 0.1);

  /*------------------------------------*/

  /* TODO: name */
  --s-radius: 0.25rem;
}
