---
import fetchApi from "../lib/strapi";
import Layout from "../components/layout.astro";
import {
  BlocksRenderer,
  type BlocksContent,
} from "@strapi/blocks-react-renderer";

type activitiesTypes = {
  details: BlocksContent;
}[];
const activities = await fetchApi<activitiesTypes>({
  endpoint: "activities",
  wrappedByKey: "data",
  fields: ["details"],
});
---

<Layout>
  <main>
    <h1>Activities</h1>
    <ul>
      {
        activities.map((activity) => (
          <li>
            <BlocksRenderer content={activity.details} />
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
