---
import fetchApi from "../lib/strapi";
import Layout from "../components/layout.astro";

type statementTypes = {
  home: string;
  fields: {
    home: string;
  };
};
const statement = await fetchApi<statementTypes>({
  endpoint: "statement",
  wrappedByKey: "data",
  fields: ["home"],
});
---

<Layout>
  <main>
    <h2>
      {statement.home}
    </h2>
  </main>
</Layout>
