---
import fetchApi from "../lib/strapi";

interface tournamentTypesIndex {
  id: string;
  attributes: {
    year: string;
  };
}
const tournaments = await fetchApi<tournamentTypesIndex[]>({
  endpoint: "tournaments",
  wrappedByKey: "data",
  populate: {
    year: {
      populate: true,
    },
  },
});
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Lake Tahoe Basketball Jamboree</h1>

    <main>
      <ul>
        {
          tournaments.map((tournament) => (
            <li>
              <a href={`/tournaments/${tournament.attributes.year}`}>
                {tournament.attributes.year}
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </body>
</html>
