---
import fetchApi from "../lib/strapi";
import Layout from "../components/layout.astro";
import Champions2024Oakridge from "../images/2024-champions-oakridge-hs.astro";
import RunnerUp2024CardinalNewman from "../images/2024-runner_up-cardinal_newman.astro";

type statementTypes = {
  home: string;
  fields: {
    home: string;
  };
};
const statement = await fetchApi<statementTypes>({
  endpoint: "statement",
  wrappedByKey: "data",
  fields: ["home"],
});
---

<Layout>
  <main>
    <h2 class="kilimanjaro">
      {statement.home}
    </h2>

    <hr />
  </main>

  <section class="pelican wrap">
    <Champions2024Oakridge />
    <RunnerUp2024CardinalNewman />
  </section>
</Layout>
