---
import Layout from "../components/layout.astro";
// import TournamentsList from "../components/tournaments-list.astro";
import MenuList from "../components/menu-list.astro";
---

<Layout>
  <main>
    <h2>Front page needs specified information</h2>
    <!-- <TournamentsList /> -->
    <MenuList />
  </main>
</Layout>
