---
import Layout from "../components/layout.astro";
import fetchApi from "../lib/strapi";
import type tournamentTypesIndex from "../interfaces/tournament-types";

const tournaments = await fetchApi<tournamentTypesIndex[]>({
  endpoint: "tournaments",
  wrappedByKey: "data",
  populate: {
    year: {
      populate: true,
    },
  },
});
---

<Layout>
  <main>
    <h2>Tournaments</h2>
    <!-- TODO: cancelled years should have a specific note and strike -->
    <ul>
      {
        tournaments.map((tournament) => (
          <li>
            <a href={`/tournaments/${tournament.attributes.year}`}>
              {tournament.attributes.year}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
