---
import Layout from "../components/layout.astro";
// import TournamentsList from "../components/tournaments-list.astro";
---

<Layout>
  <main>
    <!-- <TournamentsList /> -->
  </main>
</Layout>
