---
import Layout from "../components/layout.astro";
import Oakridge2012Champions from "../images/oakridge-2012-champions.astro";
import JustinSienna2012RunnerUp from "../images/justin-sienna-2012-2nd.astro";
---

<Layout>
  <main>
    <h1>Photos</h1>
    <p>Photos from past events.</p>
    <Oakridge2012Champions />
    <JustinSienna2012RunnerUp />
  </main>
</Layout>
