---
import Layout from "../components/layout.astro";
import Oakridge2012Champions from "../images/oakridge-2012-champions.astro";
import JustinSienna2012RunnerUp from "../images/justin-sienna-2012-2nd.astro";

import Freethrow2007 from "../images/2007-freethrow.astro";
import Freethrow20072 from "../images/2007-freethrow-2.astro";
import Final4Thurston2007 from "../images/2007-final-4-thurston.astro";
import Final4BishopManogue2007 from "../images/2007-final-4-bishop-manogue.astro";
import Alhambra20072ndplace from "../images/2007-2nd-place-alhambra.astro";
import StJoseph2007Champion from "../images/2007-champion-st-joseph.astro";

import OakridgeFinalFour2006 from "../images/Oakridge-2006-final-4.astro";
import WestLinnFinalFour2006 from "../images/West-Linn-2006-final-4.astro";
import FoothillFinalFour2006 from "../images/Foothill-2006-final-4.astro";
import AlhambraFinalFour2006 from "../images/Alhambra-2006-final-4.astro";
import HannaSchumaker2006freethrowchamp from "../images/2006-freethrow.astro";

import SantaYnez2004champion from "../images/2004-champion-santa-ynez.astro";
import StPatricks20042ndplace from "../images/2004-2nd-st-patricks.astro";

import SouthridgeHighSchool2003champion from "../images/2003-champion-southridge.astro";
import ElCapitain20032ndPlace from "../images/2003-2nd-el_capitain.astro";
---

<Layout title="Photos">
  <main>
    <h1>Photos</h1>
    <p>Photos from past events.</p>

    <hr />

    <h2>2012</h2>
    <Oakridge2012Champions />
    <JustinSienna2012RunnerUp />

    <hr />

    <h2>2007</h2>
    <StJoseph2007Champion />
    <Alhambra20072ndplace />
    <Final4Thurston2007 />
    <Final4BishopManogue2007 />
    <Freethrow2007 />
    <Freethrow20072 />

    <hr />

    <h2>2006</h2>
    <OakridgeFinalFour2006 />
    <WestLinnFinalFour2006 />
    <FoothillFinalFour2006 />
    <AlhambraFinalFour2006 />
    <HannaSchumaker2006freethrowchamp />

    <hr />

    <h2>2004</h2>
    <SantaYnez2004champion />
    <StPatricks20042ndplace />

    <hr />

    <h2>2003</h2>
    <SouthridgeHighSchool2003champion />
    <ElCapitain20032ndPlace />
  </main>
</Layout>
