---
import Layout from "../components/layout.astro";
import TournamentsList from "../components/tournaments-list.astro";
---

<Layout>
  <main>
    <h1 class="font-slab">Tournaments</h1>
    <TournamentsList />
  </main>
</Layout>
