---
import fetchApi from "../lib/strapi";
import Header from "./header.astro";
import Footer from "./footer.astro";

import "../styles/app.css";
// Supports weights 100-900
import "@fontsource-variable/roboto-slab";
import "@fontsource/graduate";

type metaTypes = {
  siteName: string;
  byLine: string;
  fields: {
    siteName: string;
    byLine: string;
  };
};
const meta = await fetchApi<metaTypes>({
  endpoint: "meta",
  wrappedByKey: "data",
  fields: ["siteName", "byLine"],
});

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} | ${meta.siteName}` : meta.siteName}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
