---
import Header from "./header.astro";
import Footer from "./footer.astro";

import "../styles/app.css";
// Supports weights 100-900
import "@fontsource-variable/roboto-slab";
import "@fontsource/graduate";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
