---
const menuList: { label: string; href: string }[] = [
  { label: "Tournaments", href: "/tournaments/" },
  { label: "Teams", href: "/teams/" },
  { label: "Rules", href: "/rules/" },
  { label: "Entry Form", href: "/entry/" },
  { label: "Lodging", href: "/lodging/" },
  { label: "Activities", href: "/activities/" },
];
---

<ul class="nav-items">
  {
    menuList.map(({ label, href }) => (
      <li>
        <a
          aria-current={Astro.url.pathname === href}
          class:list={[
            "link",
            {
              active:
                Astro.url.pathname === href ||
                (href !== "/" && Astro.url.pathname.startsWith(href)),
            },
          ]}
          href={href}
        >
          {label}
        </a>
      </li>
    ))
  }
</ul>
