---
import fetchApi from "../lib/strapi";

type spreadsheetTypes = {
  results: string;
  rules: string;
  entryForm: string;
  lodging: string;
  activities: string;
};
const spreadsheet = await fetchApi<spreadsheetTypes>({
  endpoint: "spreadsheet",
  wrappedByKey: "data",
});

const menuList: { label: string; href: string }[] = [
  {
    label: "Results",
    href: spreadsheet.results,
  },
  {
    label: "Rules",
    href: spreadsheet.rules,
  },
  {
    label: "Entry Form",
    href: spreadsheet.entryForm,
  },
  {
    label: "Lodging",
    href: spreadsheet.lodging,
  },
  {
    label: "Activities",
    href: spreadsheet.activities,
  },
  { label: "Photos", href: "/photos/" },
];
---

<ul class="nav-items">
  {
    menuList.map(({ label, href }) => (
      <li>
        <a
          aria-current={Astro.url.pathname === href}
          class:list={[
            "link",
            {
              active:
                Astro.url.pathname === href ||
                (href !== "/" && Astro.url.pathname.startsWith(href)),
            },
          ]}
          href={href}
        >
          {label}
        </a>
      </li>
    ))
  }
</ul>
