---
import fetchApi from "../lib/strapi";

type spreadsheetTypes = {
  scheduleResults: string;
  rules: string;
  entryForm: string;
  lodging: string;
  activities: string;
  history: string;
};
const spreadsheet = await fetchApi<spreadsheetTypes>({
  endpoint: "spreadsheet",
  wrappedByKey: "data",
  fields: [
    "scheduleResults",
    "rules",
    "entryForm",
    "lodging",
    "activities",
    "history",
  ],
});

const menuList: { label: string; href: string }[] = [
  {
    label: "Schedule-Results",
    href: spreadsheet.scheduleResults,
  },
  {
    label: "Rules",
    href: spreadsheet.rules,
  },
  {
    label: "Entry Form",
    href: spreadsheet.entryForm,
  },
  {
    label: "Lodging",
    href: spreadsheet.lodging,
  },
  {
    label: "Activities",
    href: spreadsheet.activities,
  },
  {
    label: "History",
    href: spreadsheet.history,
  },
  { label: "Photos", href: "/photos/" },
];
---

<ul class="nav-items">
  {
    menuList.map(({ label, href }) => (
      <li>
        <a
          aria-current={Astro.url.pathname === href}
          class:list={[
            "link",
            {
              active:
                Astro.url.pathname === href ||
                (href !== "/" && Astro.url.pathname.startsWith(href)),
            },
          ]}
          href={href}
          target={
            typeof href === "string" && href.startsWith("https")
              ? "_blank"
              : undefined
          }
        >
          {label}
        </a>
      </li>
    ))
  }
</ul>
