---
const menuList: { label: string; href: string }[] = [
  // { label: "Tournaments", href: "/tournaments/" },
  // { label: "Teams", href: "/teams/" },
  {
    label: "Results",
    href: "https://docs.google.com/spreadsheets/d/1RtIbSrGr9deAUAaQ91A0LXTgUHLHKsrDu1GMO9TqAME/edit?usp=sharing",
  },
  {
    label: "Rules",
    href: "https://docs.google.com/document/d/17AgcEpLf-4XdCjYEyXB_expcniCk0SXAyEQ3V1Uscw0/edit?usp=sharing",
  },
  {
    label: "Entry Form",
    href: "https://docs.google.com/document/d/17AgcEpLf-4XdCjYEyXB_expcniCk0SXAyEQ3V1Uscw0/edit?usp=sharing",
  },
  {
    label: "Lodging",
    href: "https://docs.google.com/spreadsheets/d/1RtIbSrGr9deAUAaQ91A0LXTgUHLHKsrDu1GMO9TqAME/edit?usp=sharing",
  },
  { label: "Activities", href: "/activities/" },
  { label: "Photos", href: "/photos/" },
];
---

<ul class="nav-items">
  {
    menuList.map(({ label, href }) => (
      <li>
        <a
          aria-current={Astro.url.pathname === href}
          class:list={[
            "link",
            {
              active:
                Astro.url.pathname === href ||
                (href !== "/" && Astro.url.pathname.startsWith(href)),
            },
          ]}
          href={href}
        >
          {label}
        </a>
      </li>
    ))
  }
</ul>
